{{ with .Site.Data.experience.experience }}
<h2>Experience</h2>
<table class="education-table">
{{ range . }}
<tr>
    <td class="edu-period">{{ .period }}</td>
    <td>
        <strong>{{ .title }}</strong>, {{ .organization }}<br>
        <span class="exp-detail">{{ .description }}
        {{ with .projects }}
        <br>{{ range first 1 . }}[<a href="{{ .link }}" target="_blank">{{ .name }}</a>]{{ end }}{{ range after 1 . }}, [<a href="{{ .link }}" target="_blank">{{ .name }}</a>]{{ end }}
        {{ end }}</span>
    </td>
</tr>
{{ end }}
</table>
{{ end }}
