<footer>
    <p style="margin:0"><small>Copyright &copy; 2026 Xiaochuan Li</small></p>
    <p style="margin:0"><small>Last updated on {{ now.Format "Jan 2, 2006" }}</small></p>
    <p style="margin:0"><small>Cool websites from <a href="https://leiy.me/" target="_blank">@leiy.me</a></small></p>
</footer>
</div>
<script src="{{ "js/scale.fix.js" | relURL }}"></script>
{{ with .Site.Params.goatcounter }}
<script data-goatcounter="https://{{ . }}.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
{{ end }}
</body>
</html>
